<div class="student-list">
    <div class="title">Student List</div>
    <div class="crud-buttons">
        <span>
            <button type="button" class="btn btn-primary" (click)="addStudent()">{{addLabel}}</button>
        </span>
        <span>
            <button type="button" class="btn btn-primary" (click)="editStudent()" [disabled]="editDisabled">{{editLabel}}</button>
        </span>
        <span>
            <button type="button" class="btn btn-primary" (click)="deleteSelectedStudent()" [disabled]="deleteDisabled">{{deleteLabel}}</button>
        </span>
    </div>
</div>
<ag-grid-angular style="width: 750px; height: 500px;" class="ag-theme-quartz" [columnDefs]="columnDefs"
    [rowData]="rowData" [rowSelection]="rowSelection" [pagination]="pagination" (selectionChanged)="onSelectionChanged($event)"
    [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector" (gridReady)="onGridReady()" (cellClicked)="onCellClicked($event)">
</ag-grid-angular>