<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
				xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="#{ems.text}"></title>
	<link rel="stylesheet" href="/css/styles.css" />
	<script type="text/javascript" src="/js/scripts.js"></script>
</head>

<body>
	<div>
		<h1 th:text="#{ems.form.title}"></h1>
		<a th:href="@{/ems/employee/form}" th:text="#{ems.form.add-employee}"></a>
		<div class="employee-list-table">
			<table border="1">
				<thead>
					<tr>
						<th th:text="#{ems.form.first-name}"></th>
						<th th:text="#{ems.form.last-name}"></th>
						<th th:text="#{ems.form.actions}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${employeeList}">
						<td th:text="${employee.firstName}"></td>
						<td th:text="${employee.lastName}"></td>
						<td>
							<a th:href="@{/ems/employee/form/{id}(id=${employee.id})}" th:text="#{ems.form.update}"></a>
							<a th:href="@{/ems/employee/delete/{id}(id=${employee.id})}" th:text="#{ems.form.delete}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>