<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee Management System</title>
	<link rel="stylesheet" href="../static/css/styles.css" />
	<script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
	<div align="center">
		<a th:href="@{/ems/employee/addForm}">Add Employee</a>
		<h1>Employee List</h1>
		<table border="1">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employeeList}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td>
						<a th:href="@{/ems/employee/updateForm/{id}(id=${employee.id})}">Update</a>
						<a th:href="@{/ems/employee/delete/{id}(id=${employee.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>