<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Employee Login </title>
	<link rel="stylesheet" href="/css/styles.css" />
	<script type="text/javascript" src="/js/scripts.js"></script>
</head>

<body>
	<div class="employee-login">
		<h2>Employee Login </h2>
		<div th:if="${param.error}">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>

		<form th:action="@{/ems/employee/login}" method="post">
			<div class="text-field">
				<label>User Name : </label>
				<input type="text" name="username" />
			</div>
			<div class="text-field">
				<label>Password :</label>
				<input type="password" name="password" /> 
			</div>
			<div>
				<input type="submit" value="Sign In" />
			</div>
		</form>
	</div>
</body>

</html>